/**
 *
 * Asynchronously loads the component for {{ properCase name }}
 *
 */

import React from 'react'
import loadable from 'loadable-components'

const AsyncComponent = () => (<div>loading...</div>)

export default loadable(() => import('./index'), {
  LoadingComponent: AsyncComponent
})
