.tabs {
  margin-bottom: 20px;
  background: green;
}
.tabs span {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 6px;
  color: #333;
  cursor: pointer;
}
.tabs span:hover, .tabs span.actived {
  background: green;
  color: #fff;
}
.msgBox {
  margin-bottom: 10px;
}
.msgBox span {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  background: #F0F0F0;
}
.msgBox span::before {
  content: ' ';
  visibility: hidden;
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.msgBox span img {
  display: inline-block;
  max-width: 120px;
  vertical-align: middle;
}
.msgBox article {
  vertical-align: middle;
  display: inline-block;
  height: 120px;
  padding: 0 0 0 18px;
}
.msgBox article p {
  margin: 0 0 6px 0;
}
